[mysqld]
# 基础运行配置 - 指定用户和端口
user                    = mysql
port                    = 3306

# 数据库存储与执行路径 - 映射到Docker Volume
datadir                 = /var/lib/mysql
basedir                 = /usr
socket                  = /run/mysqld/mysqld.sock
pid-file                = /run/mysqld/mysqld.pid

tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql

# 允许外部连接 (0.0.0.0) - 这是为了让其它容器(WordPress)可以连接到MariaDB
bind-address            = 0.0.0.0
skip-networking         = false

# 连接细调 - 自定义最大连接数和超时时间
max_connections         = 105
connect_timeout         = 6
wait_timeout            = 600

# 内存与缓存分配增强
max_allowed_packet      = 16M
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
tmp_table_size          = 32M
max_heap_table_size     = 32M

# 字符集编码设置 - 完美支持 WordPress 多语言环境和 Emoji (答辩加分项)
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
